<%-include ('../../views/partials/admin/header')%>

    <div style="margin-left: 10rem;">
        <form action="/admin/users" method="get">
            <input type="text" placeholder="Search customers">
            <button type="submit">Search</button>
        </form>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i=0;i<data.length;i++){ %>
                        <tr>
                            <td>
                                <%=data[i].name%>
                            </td>
                            <td>
                                <%=data[i].email%>
                            </td>
                            <td>
                                <%=data[i].phone%>
                            </td>
                            <td>
                                <%if(data[i].isBlocked===false){%>
                                    <button class="btn btn-danger">
                                        <a href="/admin/block-customer?id=<%=data[i]._id%>">Block</a>
                                    </button>
                                    <% }else{ %>
                                        <button>
                                            <a href="/admin/unblock-customer?id=<%= data[i]._id %>">Unblock</a>
                                        </button>
                                        <% } %>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div>
            <nav>
                <ul>
                    <%for(let i=1;i<=totalPages;i++){ %>
                        <li class="page-item <%= (i===currentPage) ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>" <%=i %>></a>
                        </li>
                        <%}%>
                </ul>
            </nav>
        </div>
    </div>

    <%-include ('../../views/partials/admin/footer')%>