<style>
  /* Main Content Styles */
  .main-content {
    margin-left: 250px;
    margin-top: 70px;
    padding: 2rem;
    min-height: calc(100vh - 70px);
  }

  /* Responsive Design */
  @media (max-width: 768px) {

    .main-content {
      margin-left: 70px;
    }
  }
</style>


<%-include ('../../views/partials/admin/header')%>
<% console.log("topPro",topProducts[0]._id.brand) %>

<div class="main-content">
  <div class="container border border-bg-primary">
    <h1>Top 10 Best-selling products</h1>
    <div class="row">
      <div class="col">Top 10 products</div>
    </div>
  </div>
  <div class="row border border-primary-subtle">
  <% topProducts.forEach((product)=>{ %>
      <div class="col">
          <img src="<%= product._id.productImage[0].url %>" alt="" width="100">
        <%= product._id.productName %>
        |<%= product._id.category.name %>
        |<%= product._id.brand.brandName %>
        |totalSold:<%= product.totalSold %>
      </div>
  <% }) %>
  </div>



  <div class="container border border-bg-primary">
    <h1>Top 10 Best-selling categories</h1>
    <div class="row">
      <div class="col">Top 10 categories</div>
    </div>
    <div class="row">
      <% topProducts.forEach((product)=>{ %>
        <%= product._id.category.name %>
        <%= product.totalSold %>
      <% }) %>
    </div>
  </div>

  <div class="container border border-bg-primary">
    <h1>Top 10 Best-selling Brands</h1>
    <div class="row">
      <div class="col">Top 10 brands</div>
       <div class="row">
        <% topProducts.forEach((product)=>{ %>
          <div class="col">
              <img src="<%= product._id.brand?.brandImage %>" alt="" width="100">
              <%= product._id.brand.brandName %>
              <%= product.totalSold %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>


<%-include ('../../views/partials/admin/footer')%>



 
