<h3>Order Summary</h3>
<div class="table-responsive">
    <table class="table shopping-summery text-center clean">
        <thead>
            <tr class="main-heading">
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>

            <% if (userCart && userCart.items.length> 0) { %>
                <% var x=0 %>
                    <% for (let i=0; i < userCart.items.length;i++) { %>

                        <tr>

                            <td class="image product-thumbnail">
                                <img style="width: 40%;"
                                    src="/uploads/resized-images/<%= userCart.items[i].productDetails.productImage[0] %>"
                                    alt="#" />


                            </td>
                            <td class="product-des product-name">
                                <h5 class="product-name">

                                    <%= userCart.items[i].productDetails.productName %>

                                </h5>
                                <p class="font-xs">
                                    <%= userCart.items[i].productDetails.category?.name %><br />
                                        <%= userCart.items[i].productDetails.brand?.brandName %>
                                </p>
                            </td>
                            <td class="price" data-title="Price">₹
                                <text id="subTotal<%= userCart.items[i].productDetails._id %>">
                                    <%= userCart.items[i].productDetails.salePrice * userCart.items[i].quantity %>
                                        <!-- <strike><%= userCart.items[i].productDetails.regularPrice * userCart.items[i].quantity %></strike> -->
                                </text><br>

                                <small class="text-muted text-nowrap">
                                    ₹<span id="price">
                                        <%= userCart.items[i].productDetails.salePrice %>
                                            ₹<strike>
                                                <%= userCart.items[i].productDetails.regularPrice %>
                                            </strike>
                                    </span>/ per item
                                </small>
                            </td>

                            <td class="text-center" data-title="Stock">
                                <div class="detail-qty border radius m-auto">
                                    <div class="quantity-control">


                                        <% if(userCart.items[i].productDetails.quantity !==0 ){ %>
                                            <button class="btn btn-sm increment-button" onclick="changeQuantity(
                                                            '<%= userCart.items[i].productDetails._id %>',
                                                            1,
                                                            '<%= userCart.items[i].productDetails.salePrice %>',
                                                            '<%= grandTotal %>'
                                                        )">+</button>


                                            <input class="quantity-input"
                                                id="cartProductQuantity<%= userCart.items[i].productDetails._id %>"
                                                value="<%=userCart.items[i].quantity %>" style="width: 45px;"
                                                type="text" readonly>


                                            <button class="btn btn-sm decrement-button" onclick="changeQuantity(
                                                            '<%= userCart.items[i].productDetails._id %>',
                                                            -1,
                                                            '<%= userCart.items[i].productDetails.salePrice %>',
                                                            '<%= grandTotal %>'
                                                        )">-</button>
                                            <div>
                                            <strong id="outOfStockMessage<%= userCart.items[i].productDetails._id %>" class="text-danger"></strong>
                                            </div>
                                            <% }else{ %>
                                                <h5 class="text-danger">Out Of Stock</h5>
                                                <% } %>

                                    </div>
                                    
                                </div>
                            </td>

                            <td class="action" data-title="Remove">
                                <a class="btn btn-sm" href="#"
                                    onclick="removeItem('<%= userCart.items[i].productDetails._id %>')">
                                    <i class="fi-rs-trash"></i>🗑️Remove
                                </a>
                            </td>

                            <% } %>

                                <% } else { %>
                        <tr>

                            <td colspan="2" class="text-center">
                                <p class="lead mb-4">No item found in Cart</p>
                            </td>
                        </tr>
                        <% } %>

        </tbody>
    </table>
</div>