<div class="row border-bottom">
    <div class="col-6">Total Price</div>
    <div class="col-6 text-end">
        ₹<span id="totalPrice" data-total-price="<%= totalPrice %>">
            <%= totalPrice %>
        </span>/-
    </div>
</div>
<div class="row border-bottom">
    <div class="col-6">Coupon Discounts</div>
    <div class="col-6 text-end">
        <% if(totalDiscountFromAllCoupons){ %>
            <div class="row">
                <span id="couponDiscount" class="text-success" data-coupon-code="">₹ (-<%= totalDiscountFromAllCoupons %>/-)</span>
            </div>
            <% appliedCoupons.forEach((coupon)=>{ %>
            <div class="row">
                <span class="text-success"><%= coupon.code %> ₹(-<%= coupon.discountAmount %>/-)</span>
            </div>
            <% }) %>
        

        <% }else{ %>
        <span id="couponDiscount">--</span>
        <% } %>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-6">
        Total Amount
    </div>
    <div class="col-6 text-end">
        ₹<span id="totalAmount" data-total-amount="<%= totalAmount %>">
            <%= totalAmount %>
        </span>/-
    </div>
</div>
<div class="row d-grid" onclick="placeOrder()">
    <div class="btn btn-success">Place Order</div>
</div>



